@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');
.grid-collections{
  display: grid; 
  column-gap: 10px;
  grid-template-columns: minmax(1fr , 410px)
}

.collectionsCard {

  height: 400px;
}

.collectionsCard img {
  cursor: pointer;
  border-radius: 7px;
}
.collectionsTitle{
  margin-top: 5px;
  font-family: 'Aleo', serif;
  font-size: 18px;
}
.tags{
  font-family: 'Aleo', serif;
  letter-spacing: .5px;
  background-color: silver;
  display: inline-block;
  margin: 10px;
  padding : 4px;
  font-weight: 500;
}