ul {
  margin-top: 30px;
  width: 100%;
}

li {
  margin: 2px 0px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color : 'black';
  transition: .4s;
}